@model webMVC.Models.LoaiSanPham

@{
    ViewBag.Title = "Edit";
}

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                @*<div class="panel-heading clearfix">
                    <h4 class="panel-title">Thông tin chi tiết loại sản phẩm</h4>
                </div>*@
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Thông tin chi tiết loại sản phẩm</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MaLSP)

                            <div class="form-group">
                                <label for="input-Default" class="col-sm-2 control-label">Loại sản phẩm</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenLSP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenLSP, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-Default" class="col-sm-2 control-label">Mô tả</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.mota, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.mota, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu" class="btn btn-primary" />
                                    <a class="btn btn-flickr" href="/admin/LoaiSanPhams">quay lại</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
